body {
  font-family: 'Poppins', sans-serif;
  
  height: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
  padding: 0;
  color: #333;
  background-color: #f9f9f9;
}
.body-margin{
    max-width: 1140px;
      
  height: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
  padding: 0;
  color: #333;
  background-color: #f9f9f9;
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
     
     
    
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    align-content: center;
    
    
}
nav .cart{
    margin-left: 0;
    margin-right: 0;
      
    /* border: 2px solid red; */
    display: flex;   
}


nav .linkss{

    display: flex;
}


@media screen and (max-width: 576px){
    .nav-hide{
        display: none;
    }   
    nav{
        padding-top: 20px;
        padding-left: 20px;
    } 
    .logo img{
        width: 75px;
    }
    nav a{
        margin-right: 20px;
        margin-left: 0;
    }
}
/* ................................................................. */

.fresh-section{
    margin-top: 130px;
    /* border: 2px dotted blue; */
    display: flex;
    align-items: center;
    font-size: 1.2em;
}


span{
    color: red;
}


.fresh-section h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 56px;
}

p{
    font-size: 20px;
    opacity: 0.6;
}


@media screen and (max-width: 576px) {
    .fresh-section img{
        width: 100%;
    }
    .fresh-section{
        flex-direction: column-reverse;
    }
    
    .fresh-section h1{
        font-size: 36px;
    }
    p{
        font-size: 17px;
    }
    .fresh-text{
        padding: 20px;
    }
}
/* ................................................................. */
.card-section{
    margin-top: 110px;
}
.card-section h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
.card-text{
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    text-align: center;
    
}
.fon-weigh{
    font-weight: 600;
}

button{
  background-color: red;
  width: 100%;
  padding: 1.2rem 1.2rem;
  color: #F5F8FF;
  border-style: hidden;
  font-size: 1rem;
  
}
button:hover{
  background: #000;
  transition-duration: 0.4s;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
    .card-container img{
        width: 100%;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    .card-section h2{
        font-size: 34px;
    }   
}
/* ....................................................................... */
.badge-section{
  display: flex;
  align-items: stretch;
  margin-top: 190px;
  position: relative;
  

}
.badge-ancestor{
    display: flex;
}
/* .badge-section{
    display: flex;
    position: relative;
    align-items: stretch;
    border: 2px solid green;
    margin-top: 200px;
} */
/* .trusted-badge{
    position: absolute;
    height: 286px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.6));
    left:40px ;
} */

.trusted-badge{
  height: 286px;  
  position: absolute;
  left: 380px ;
  bottom: 420px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.6));
  
}
 
.badge-section h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

.badge-text{
    
    margin-left: 100px;
}


@media screen and (max-width: 576px) {
    .badge-ancestor{
        flex-direction: column;
    }
    .badge-text{
        margin: 0;   
    }

    .badge-section{
        padding: 20px;
    }
    .badge-section img {
        width: 100%;
    }

    .trusted-badge{
        display: none;
    }
}

/* .............................................................. */

/* .container{
    padding-top: 150px;
    display: grid;
    grid-template-columns: 400px 800px;
    grid-template-rows: 50px 50px ;
  
} */

.container {
    padding-top: 150px;
    margin-bottom: 90px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.left-column {
    display: grid;
    flex-direction: column;
    gap: 20px;
}

.image-box {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 390px;
    height: 200px;
}

.large-box {
    flex: 1;
    height: 420px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}




.text-overlay2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
    padding: 10px 15px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.text-overlay1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 19px;
    
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.text-overlay1 .subtitle1 {
    margin-top: 8px;
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline;
}

.text-overlay2 .subtitle2 {
    margin-top: 8px;
    font-weight: normal;
    font-size: 26px;
    text-decoration: underline;
}


@media screen and (max-width: 576px) {
    .deal-section img{
        width: 100%;
    }
    .container{
        flex-direction: column;
        /* padding: 20px 0px; */
        align-items: center;
    }
    .large-box .text-overlay2 {
        font-size: 18px;
        padding: 0;
    
    }
    .large-box .subtitle2{
        font-size: 16px;
    }
    .image-box .text-overlay1{
        font-size: 18px;
    }

}


/* ............................................................................. */

.subscribe-section{
    padding-bottom: 100px;
    height: 500px;
    margin: 0 0;
    justify-items: center;
    background-image: url(assets/news-letter-bg.png);
    background-image: 100vw;
    background-size: cover;  
}

.subscribe-section h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 280px;
    font-weight: bold;
    font-size: 50px;
    color: #F5F8FF;
}


.subscribe-form input{
  
    width: 100%;
    padding: 1.2rem 1.2rem;
    color: #F5F8FF;
    border-style: hidden;
    font-size: 1rem;
}

.subscribe-form{
    display: flex;
    width: 750px;
  
}


@media screen and (max-width: 576px){
    .subscribe-section{
        margin: 0;
        padding: 0;
        background-image: url(assets/news-letter-bg.png);
        background-repeat: no-repeat;
        height: 50%;
        
    } 
    .subscribe-section h2{
        font-size: 23px;
        
        margin: 0;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .subscribe-form{
        width: 350px;
        padding-bottom: 60px;
        /* height: 20px; */
    }

}

/* .................................. */

.foot-container{
    /* border: 3px dotted blueviolet; */
    display: flex;
    max-width: 1140px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    justify-content: center;
    justify-content: space-between;

}

.about-div{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
}
.about-div a{
    text-decoration: none;
    padding-right: 20px;
    color: black;
    opacity: 0.6;
    
}

.social{
    height: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;      
}

.social a{
    margin-left: 30px;
}

@media screen and (max-width: 576px) {
    .foot-container{
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        padding: 20px;
        align-items: flex-start;
    }
    
    .about-div{
       grid-template-columns: repeat(1, 1fr); 
        font-size: 17px;
        opacity: 0.8;
        
    }
    .about-div div  {
        margin-bottom: 25px;
    }

    .social a{
        margin-right: 30px;
        margin-left: 0;
    }
}

/* ............................................END................................. */


